.logos{
    display: relative;
    background-color: rgb(255, 200, 99);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 300px;
    margin-left: 100px;
}

.logos img{
    width: 200px;
    height: auto;
    margin: 0 auto; /* Centra horizontalmente */
    display: block; /* Elimina el espacio adicional debajo de la imagen */
    margin-top: 30px;
}

.description{
    width: 200px;
    height: auto;
    margin: 0 auto; /* Centra horizontalmente */
    display: block; /* Elimina el espacio adicional debajo de la imagen */
}