.third-screen-div {
  width: 40%; 
  margin: 30px 30px;
  padding: 20px;
  clear: both;
}

.left-text {
  background-color: skyblue; 
  color: black;
  float: left;
}

.right-text {
  background-color: lightgreen; 
  color: black;
  float: right;
}

.text-component p {
  white-space: normal; 
  word-wrap: break-word;
  font-size: 18px;
}

.text-component h1{
  font-size: 30px;
}
  
.text-component h2{
  font-size: 22px;
}


.right-image {
  background-color: rgb(227, 237, 241); 
  float: right;
}

