.custom-carousel {
    position: relative;
    max-width: 900px;
    max-height: 500px;
    margin: 30px auto;
    padding: 10px;
  }
  
  .custom-carousel img {
    max-width: 900px;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
  }
  
.custom-carousel .text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
}
  
.custom-carousel .carousel .thumbs-wrapper {
  display: none;
}
  
.custom-carousel .carousel-status {
 display: none;
}
  