.menu-container-inferior {
    display: flex;
    justify-content: center;
    align-items: center; /* Alinear elementos verticalmente al centro */
    color: black;
    padding: 10px;
    border-bottom: 2px solid black;
  }
  
  .menu-options-inferior {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .menu-options-inferior li {
    margin: 0 80px;
  }
  
  .menu-options li a {
    text-decoration: none;
    margin: 0 10px;
    color: black;
  }
  
  .navegador input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }